:root{
  --color-pink: F3848C;
  --color-black: F3848C;
  --color-white: FFFFFF;
  --color-white-second: F6F7F7;

  /* text */
  --color--header-hero-text: 3C322D;
  --color-header-text: 2E2520;
  --color-text-main-black: 3C322D;
  --color-text-second-bleck: 2E2520;
  --color-text-wite: var(--color-white);
  --color-text-wite-second: var(--color-white-second);

  /* bgc*/
  --color-white-bg: FAFBFB;
  --color-black-bg: 3C322D;
  --color-bg-main: FAFBFB;
  --color-bg-body: EEEDED;
  --color-bg-menu: E5E2E3;
  --color-gradient-first-bg: F86E67A1;
  --color-gradient-second-bg: FD568FD3;
}

*{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body{
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 1.22;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--color-text-main-black);
}

img {
  display: block;
  width: 100%;
  height: auto;
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iko::before{
  content: url(../images/svg/Іко.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


.header{
  width: 100%;
}

.section__hero{
  height: 313px;
  background-repeat: no-repeat;
  background-image: url(../images/png/glazed-donuts-in-boxes-copy-space-mobil.png);

  @media screen and (min-width: 768px){
    background-image: url(../images/png/glazed-donuts-in-boxes-copy-space-tabl.png);
    
  }

  @media screen and (min-width: 1200px){
    background-image: url(../images/png/glazed-donuts-in-boxes-copy-space-deck.png);
    
  }

}

.logo__link{
  width: 100%;
  height: 100%;
  display: block;
}
.icon{
  display: block;
  width: 108px;
  height: 50px;
  fill: #3C322D;
  outline: 1px solid black;
  
}

.nav__link{
  font-family: Montserrat Alternates;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.22;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}


.social__icon{
 fill: black;
}
